#pageImage{
    left: 0px;
    top: 0px;
    position: relative;
}

@media only screen and (max-width: 750px){
    #pageImage{
        left: 0px;
        top: 0px;
        position: relative;

        width: 100%;
    }
}