<!DOCTYPE html> 
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/Website/css/main.css"> 
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="/Website/scripts/main.js"></script>

		</head>
		<body>
            <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            
            
            
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="openNav()">
                <i id="hamburger" class="fa fa-bars"></i>
            </a>
            
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>


            <div id="top">
                <img src="{{ page.background }}" id="pageImage" />
            </div>
            <nav>
	    		<ul class="nav-list">
	        		<li class="nav-item"><a href="/Website">Home</a></li>
					<li class="nav-item"><a href="/Website/about">Projects</a></li>
					
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer> 
	    		<ul>
	        		<li><a href="mailto:mattfossett@outlook.com">email</a></li>
					<li><a href="https://github.com/mattfossett">github</a></li>
					<li><a href="https://linkedin.com/in/MattFossett">linkedin</a></li>

				</ul>
			</footer>
		</body>
	</html>


