<!DOCTYPE html> 
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css"> 
			<meta name="viewport" content="width=device-width, initial-scale=1.0">


		</head>
		<body>
			<nav>
	    		<ul class="nav-list">
	        		<li class="nav-item"><a href="/">Home</a></li>
					<li class="nav-item"><a href="/projects">Projects</a></li>
					<li class="nav-item"><a href="/resume/MattFossettResume.pdf">Resume</a></li>
	        		<li class="nav-item"><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer> 
	    		<ul>
	        		<li><a href="mailto:mattfossett@outlook.com">email</a></li>
					<li><a href="https://github.com/mattfossett">github</a></li>
					<li><a href="https://linkedin.com/in/MattFossett">linkedin</a></li>

				</ul>
			</footer>
		</body>
	</html>


